* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   margin: 10px;
}

header {
   background-color: black;
   color: white;
   display: flex;
   padding: 10px;

}

.search-bar {

   flex-grow: 1;
   display: flex;
   
}

.search-bar-input {
   min-width: 200px;
   font-size: 5px;
   padding-left: 5px;
   height: 100%;
}

.search-bar-icon {
  
   padding: 2px, 5px;
   display: flex;
}

/* main */

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
               /* Add to nav position stick + grid for firs line of products*/
.nav-bar {

   flex-direction: row;
   justify-content: start;
   align-items: start;

}

.nav-list {
   display: inline-block;
   color: white;
   padding: 10px;
   width: 50px;
   height: 60px;
   inset-inline-start: 0;
   margin: 0;

}

.navbar {
   height: 70px;
   width: 100%;
   background: gray;
   color: gold;
}

.navbar-nav {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 100%;
}

header {
   padding: 1em;
   background: aquamarine;
   padding-bottom: 3.5em;
   text-align: center;
   clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

/* .dropdown {
   position: relative;
   width: 500px;
   opacity: 1;
   z-index: 2;
   background: blue;
   border-top: 2px solid white;
   border-bottom-right-radius: 8px;
   border-bottom-left-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 3rem;
   margin-top: 2rem;
   padding: 0.5rem;
   box-shadow: rgba(24, 87, 213, 0.1) 0px 0.175em 0.5em;
   transform: translateX(-40%);
   transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
   opacity: 0.4;
   pointer-events: auto;
}

.dropdown-item a {
   width: 100%;
   height: 100%;
   size: 0.7rem;
   padding-left: 10px;
   font-weight: bold;
}

/* .dropdown-item a::before {
   content: " ";
   border: 2px solid white;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
} */


/* :root {
   --gray0: ;
   --gray1: ;
}

.light {
   --bg: var(gray0)
}

.dark {
   --bg: var(gray0)
}

.solar {
   --bg: var(gray0)
} */ */


/* scrollbar gradient effect without--- CHECK BUG  */
body::-webkit-scrollbar {
   width: 1px;
   height: 25px;
   position: relative;
   left: -1px;
   top: 65%;
   content: '';
   transition: top 600ms ease,
      opacity 600ms ease;

}

body::-webkit-scrollbar-track {
   background: linear-gradient(transparent,
         mediumslateblue,
         transparent);


}

body::-webkit-scrollbar:hover:after {
   top: 50%;
   opacity: 1;
   /*should 1*/
}

nav {

   color: aqua;
}

/*
,class {
display: grid;
grid-template-columns: 200px 150px 100px
}

*/

.container {
   background-image: linear-gradient(
      45deg,
   )transparent 50%,
   red;
   background-position: 2rem 0, 2rem 0;
   background-size: 4rem 4rem;
}

.promo {
   grid: 1fr 3fr;
}