* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   margin: 10px;
}

header {
   background-color: black;
   color: white;
   display: flex;
   padding: 10px;

}


header {
   padding: 1em;
   background: aquamarine;
   padding-bottom: 3.5em;
   text-align: center;
   clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}


.search-bar {

   width: 100vh;
  
}

.search-bar-input {
   min-width: 200px;
   font-size: 5px;
   padding-left: 5px;
   height: 9vh;
}

.search-bar-icon {
  
   padding: 2px, 5px;
   /* display: flex; */
}

/* main */

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
               /* Add to nav position stick + grid for firs line of products*/
.nav-bar {

   flex-direction: row;
   justify-content: start;
   align-items: start;

}

.nav-list {
   display: inline-block;
   color: white;
   padding: 10px;
   width: 50px;
   height: 60px;
   inset-inline-start: 0;
   margin: 0;

}

.navbar {
   height: 70px;
   width: 100%;
   background: gray;
   color: gold;
}

.navbar-nav {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 100%;
}

/* .dropdown {
   position: relative;
   width: 500px;
   opacity: 1;
   z-index: 2;
   background: blue;
   border-top: 2px solid white;
   border-bottom-right-radius: 8px;
   border-bottom-left-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 3rem;
   margin-top: 2rem;
   padding: 0.5rem;
   box-shadow: rgba(24, 87, 213, 0.1) 0px 0.175em 0.5em;
   transform: translateX(-40%);
   transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
   opacity: 0.4;
   pointer-events: auto;
}

.dropdown-item a {
   width: 100%;
   height: 100%;
   size: 0.7rem;
   padding-left: 10px;
   font-weight: bold;
}

/* .dropdown-item a::before {
   content: " ";
   border: 2px solid white;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
} */


/* :root {
   --gray0: ;
   --gray1: ;
}

.light {
   --bg: var(gray0)
}

.dark {
   --bg: var(gray0)
}

.solar {
   --bg: var(gray0)
} */ */


/* scrollbar gradient effect without--- CHECK BUG  */
body::-webkit-scrollbar {
   width: 1px;
   height: 25px;
   position: relative;
   left: -1px;
   top: 65%;
   content: '';
   transition: top 600ms ease,
      opacity 600ms ease;

}

body::-webkit-scrollbar-track {
   background: linear-gradient(transparent,
         mediumslateblue,
         transparent);


}

body::-webkit-scrollbar:hover:after {
   top: 50%;
   opacity: 1;
   /*should 1*/
}

nav {

   color: aqua;
}

/*
,class {
display: grid;
grid-template-columns: 200px 150px 100px
}

*/

.container {
   background-image: linear-gradient(
      45deg,
   )transparent 50%,
   red;
   background-position: 2rem 0, 2rem 0;
   background-size: 4rem 4rem;
}

/* second part of website must be a grid template */
.promo {
   grid-row: repeat(4, 1fr);
   grid-column: repeat(5, 1fr);

}

/* reset for nav */

:root {
   --blue: #702A9F;
   --blueHover: #9549c7;
}

html {
   font-size: 10px;
   overflow-x: hidden;
}

/* nav-ham */

.nav-logo {
   width: 6.5em;
}

.nav-ham {
   background-color: rgb(245, 245, 222);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 8vh;
   padding: 2em;
   position: relative;
}

.nav-ul {
   list-style-type: none;
   display: flex;
   width: 55%;
   justify-content: space-around;
}

.nav-ul li a {
   text-decoration: none;
   font-size: 1.7rem;
   font-weight: bold;
   position: relative;
   padding: .2em;
   color: var(--blue);
}

.nav-ul li a::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 10%;
   background-color: var(--blue);
   height: .15em;
   border-radius: 10px;
   transition: .3s ease-in-out;
}

.nav-ul li a:hover::after {
   width: 100%;
}

.burger {
   background: transparent;
   border: none;
   outline: none;
   cursor: pointer;
   display: none;
}

.line {
   width: 3em;
   height: .3em;
   background: var(--blue);
   margin: .7em;
   border-radius: 20px;
   transition: .3s ease-in-out;
}

@media only screen and (max-width: 1000px) {
   .burger {
      display: block;
      transition: .3s ease-in-out;
   }

   .buerger.active .line:first-child {
      transform: translateY(-300px);
   }

.burger.active .line:nth-child(2) {
   transform: rotate(-405deg) translateY(8px);
}

.burger.active .line:nth-child(3) {
   transform: rotate(-320deg) translate(-10px);
}

   .nav-ul {
      position: absolute;
      right: 0;
      top: 8vh;
      background-color: var(--blue);
      height: 92vh;
      flex-direction: column;
      text-align: center;
      transition: .3s ease-in-out;
   }

   .nav-ul.active {
      transform: translate(0%);
   }

   .nav-ul li a {
      color: aliceblue;
      font-size: 2.5rem;
      letter-spacing: 2px;
   }
}

@media only screen and (max-width: 760px) {
   .nav-ul {
      width: 100%;
   }
}