* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   margin: 10px;
}

header {
   background-color: black;
   color: white;
   display: flex;
   padding: 10px;

}

.search-bar {

   flex-grow: 1;
   display: flex;

}

.search-bar-input {
   min-width: 200px;
   font-size: 5px;
   padding-left: 5px;
   height: 100%;
}

.search-bar-icon {
   background-color: blue;
   padding: 2px, 5px;
   display: flex;
}

/* main */
.nav-bar {

   flex-direction: column;
   justify-content: start;
   align-items: start;

}

.nav-list {
   display: inline-block;
   color: white;
   padding: 10px;
   width: 50px;
   height: 60px;
   inset-inline-start: 0;
   margin: 0;
   
}